# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@bestpractical.com>
Shawn M Moore <code@sartak.org> Shawn M Moore <sartak@gmail.com>
Erik Carlsson <info@code301.com> Csson <erik.carlsson@live.com>
Jesse Luehrs <doy@cpan.org> <doy@tozt.net>
Todd Hepler <thepler@employees.org> <thepler@genome.wustl.edu>
Robert 'phaylon' Sedlacek <phaylon@cpan.org> <rs@474.at>
Andy Jack <andyjack@cpan.org> Andy Jack <github@veracity.ca>
